<nav>
	<p>list</p>
	<p id="search">search</p>
	<p>play</p>
</nav>

		<div id="container">
	<div id="inner-container">

		<div id="timeline" class="push">
			<!-- 2010s -->
			<div class="decade current-decade">
				<div class="year">0</div>
				<div class="year">1</div>
				<div class="year">2</div>
				<div class="year">3</div>
				<div class="year">4</div>
				<div class="year">5</div>
			</div>

			<!-- 00s -->
			<div class="decade">
				<div class="year">0</div>
				<div class="year">1</div>
				<div class="year">2</div>
				<div class="year">3</div>
				<div class="year">4</div>
				<div class="year">5</div>
				<div class="year">6</div>
				<div class="year">7</div>
				<div class="year">8</div>
				<div class="year">9</div>
			</div>

			<!-- 90s -->
			<div class="decade">
				<div class="year">0</div>
				<div class="year">1</div>
				<div class="year">2</div>
				<div class="year">3</div>
				<div class="year">4</div>
				<div class="year">5</div>
				<div class="year">6</div>
				<div class="year">7</div>
				<div class="year">8</div>
				<div class="year">9</div>
			</div>

			<!-- earlier/other -->
			<div class="decade">
				<div class="year">8</div>
				<div class="year">9</div>
			</div>
		</div>

		<div id="playDetails">
			<p>THIS IS THE MIX NAME</p>	
		</div>

		<div id="play" class="play firstPlay">
			
		</div>

		<div id="search-form">
			<form>
				<input type="text" placeholder="Search by artist, track, date" />
			</form>
		</div>

		<div id="search-timeline" class="push">
			<!-- 2010s -->
			<div class="decade current-decade">
				<div class="year">0</div>
				<div class="year">1</div>
				<div class="year">2</div>
				<div class="year">
					<a href="#" id="show-timeline">3</a>
				</div>
				<div class="year">4</div>
				<div class="year">5</div>
			</div>

			<!-- 00s -->
			<div class="decade">
				<div class="year">0</div>
				<div class="year">1</div>
				<div class="year">2</div>
				<div class="year">3</div>
				<div class="year">4</div>
				<div class="year">5</div>
				<div class="year">6</div>
				<div class="year">7</div>
				<div class="year">8</div>
				<div class="year">9</div>
			</div>

			<!-- 90s -->
			<div class="decade">
				<div class="year">0</div>
				<div class="year">1</div>
				<div class="year">2</div>
				<div class="year">3</div>
				<div class="year">4</div>
				<div class="year">5</div>
				<div class="year">6</div>
				<div class="year">7</div>
				<div class="year">8</div>
				<div class="year">9</div>
			</div>

			<!-- earlier/other -->
			<div class="decade">
				<div class="year">8</div>
				<div class="year">9</div>
			</div>
		</div>

		<div id="menu" class="panel" role="navigation">
			<p>2013</p>
			<div>
				<p>DEC</p>
				<p>Lorem ipsum dolor sit amco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint ia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<a href="#" onclick="play()">
					<p>NOV</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation a deserunt mollit anim id est laborum.</p>
				</a>
			</div>
			<div>
				<p>OCT</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitationcia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>SEP</p>
				<p>Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>AUG</p>
				<p>oluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>JUL</p>
				<p>Lorem ipsum dolor sit amet, iatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>JUN</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicuptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>MAY</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>APR</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>MAR</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>FEB</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>JAN</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</div>