html, body {
	height: 100%;
}

body {
	background-color: #393939;
	color: #fff;
}

#container {
	display: table;
	width: 100%;
	height: 100%;
}

#inner-container {
	display: table-cell;
	vertical-align: middle;
}

::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}