#timeline {
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);

	/* for info bar slide */
	-webkit-transition: width 300ms ease, -webkit-transform 0.26s ease-out;
	-o-transition: width 300ms ease, -o-transform 0.26s ease;
	-ms-transition: width 300ms ease, -ms-transform 0.26s ease;
	transition: width 300ms ease, transform 0.26s ease;
}


#timeline {
	float: left;
	width: 100%;
	padding: 0 50px;
	position: relative;
}

.decade {
	float: left;
	// border-bottom: 3px solid #fff;
	width: 100%;
	margin: 0 0 60px 0;
}

.current-decade {
	.year {
		width: 20%; /* 100 / (number of years in decade so far -1) */
	}

	.year:first-of-type,
	.year:last-of-type {
		width: 10%; /* split year width above into two for first and last years */
	}
}

.year {
	float: left;
	width: 11.11%;
	text-align: center;
	border-bottom: 3px solid #fff;
}

.year:first-of-type,
.year:last-of-type {
	width: 5.55%;
	text-align: left;
}

.year:last-of-type {
	text-align: right;
}

.year a {
	display: block;
}

#search-timeline .year {
	border-bottom: 3px solid #990;
	color: #999;
}

.year:hover,
#search-timeline .current {
	color: yellow;
	cursor: pointer;
	border-bottom: 3px solid yellow;
}