#timeline {
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);

	/* for info bar slide */
	-webkit-transition: width 300ms ease, -webkit-transform 0.26s ease-out;
	-o-transition: width 300ms ease, -o-transform 0.26s ease;
	-ms-transition: width 300ms ease, -ms-transform 0.26s ease;
	transition: width 300ms ease, transform 0.26s ease;
}


#timeline {
	float: left;
	width: 100%;
	padding: 0 128px;
	position: relative;
}

.decade {
	float: left;
	// border-bottom: 3px solid #fff;
	width: 100%;
	margin: 0 0 60px 0;
}

.current-decade {
	.year {
		width: 20%; /* 100 / (number of years in decade so far -1) */
	}

	.year:first-of-type,
	.year:last-of-type {
		width: 10%; /* split year width above into two for first and last years */
	}
}

.year {
	float: left;
	width: 11.11%;
	text-align: center;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.year:first-of-type,
.year:last-of-type {
	width: 5.55%;
	text-align: left;
}

.year:last-of-type {
	text-align: right;
}

.year a {
	display: block;
}

#search-timeline .year {
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
	color: #fff;
}

.year:hover {
	cursor: pointer;
}

#search-timeline .year {
	cursor: default;
}

.year:hover,
#search-timeline .current {
	font-weight: bold;
	border-bottom: 2px solid rgba(255,255,255, 1);
}


@media (max-width: 600px) {

	#container {
		margin-top: 60px;
		margin-bottom: 50px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 50px;
	}

	#timeline,
	#search-timeline {
		width: 10% !important;
		padding: 0 !important;
		
		overflow-y: scroll;
		position: fixed;
		top: 70px;
		bottom: 40px;
		left: 8px;
	}

	.decade, .year {
		width: 100% !important;
		text-align: left !important;
	}

	.year {
		margin-bottom: 10px;
		padding-left: 2px;
	}

	.decade {
		margin: 0;
	}

	#menu,
	#search-menu {
		width: 80% !important;
	}

	#social {
		margin-left: 32px;
	}
}