h1, h2, h3, h4, h5, h6 {
	font-family: 'Decima Mono X';

	// font-family: 'Decima Mono X Bold';
	// font-family: 'Decima Mono X Light';
	// font-family: 'Decima Mono X';

	font-size: 24px;
	text-decoration: underline;
	font-weight: normal;
	margin-bottom: 24px;
}

#timeline,
#search-timeline {
	font-size: 12px;
}

#menu,
#search-menu {
	font-family: 'Decima Pro';
	font-size: 16px;
}


@media (max-width: 600px) {
	#timeline {
		font-size: 16px;
	}
}